

.task-details-container{
    background: #444;
    margin: 15px 0px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}

.task-details-container h2 {
    margin-bottom: 5px;
    color: chartreuse;
}

.back-button-container{
    width: 100%;
    margin-top: 10px;
}