.task-container{
    background-color: #444;
    margin: 8px 0;
    padding:  15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button,.info-task-button
{   
    background-color: #444 !important;
    border: none;
    font-size: 20px;
    color: chartreuse;
    margin: 0 5px;
}